
@import "./css/reset";

@import "./css/colors";

@import "./css/header/header";
@import "./css/main/main";
@import "./css/footer/footer";



/* font-family: 'Montserrat', sans-serif; 
font-family: 'Yanone Kaffeesatz', sans-serif; */

/*============= Global ==============*/
:root {

  font-size: 10px;
  
}

.-color-two:root {
  
}

body {
  position: relative;
  background-color: rgb(112, 112, 112);
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;

  width: 100%;
  
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.sr-only { /* esconde textos e itens de uso semantico para leitores de tela */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

