html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  display: inline;
}

ul {
  padding: 0;
  margin: 0;
}

#header {
  width: 100%;
  height: 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18rem 1fr 18rem;
      grid-template-columns: 18rem 1fr 18rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 4rem;
  background-color: #1F2326;
  color: whitesmoke;
  z-index: 1;
}

.icons-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
}

.icons-container img:first-child {
  padding-right: 2rem;
}

.icons-container img:last-child {
  border-left: 2px solid whitesmoke;
  padding-left: 2rem;
}

.menu {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
}

.menu li {
  cursor: pointer;
}

.menu li:hover {
  color: #05B2DC;
}

.menu li:not(:last-child) {
  margin-right: 6rem;
}

@media (max-width: 900px) {
  .menu li:not(:last-child) {
    margin-right: 3rem;
  }
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  justify-self: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container img {
  background-color: #535554;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  margin-right: 1.2rem;
}

.login-container label {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.4rem;
}

#main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 10rem;
  /*display: grid;
  grid-template-columns: 70% 30%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0C263F;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#1a4f6e), to(#0c263f));
  background: linear-gradient(to bottom, #1a4f6e, #0c263f);
  overflow: hidden;
}

.card {
  position: relative;
  width: 100%;
  height: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.card .container-info {
  position: relative;
  width: 600px;
  padding: 2.1rem;
  background-color: whitesmoke;
}

.card .container-info .wrapper-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 1.5rem;
}

.card .container-info .text-info {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}

.card .container-info .container-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr;
      grid-template-columns: 250px 1fr;
}

.card .container-info .container-details .wrapper-details-img {
  position: relative;
}

.card .container-info .container-details .wrapper-details-img img {
  width: 300px;
  position: absolute;
  left: -80px;
}

.card .container-info .container-details ul {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 3rem;
}

.card .container-info .container-details ul h2 {
  vertical-align: top;
  padding-bottom: 1.5rem;
}

.card .card-img {
  position: absolute;
  width: 100%;
  right: -50%;
  top: 0;
}

/*.main-img {
  position: relative;

  img {
    position: absolute;
    width: 150%;
    left: -200px;
    z-index: 3;
    //display: none;
  }

}*/
.container-tags {
  width: 100%;
  height: 10rem;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #1F2326;
  color: whitesmoke;
}

.container-tags .box-tag {
  width: 100%;
  height: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2rem;
      grid-template-rows: 1fr 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px whitesmoke solid;
}

.container-tags .box-tag img {
  height: 70%;
}

#footer {
  width: 100%;
  height: 8rem;
  padding: 2rem 4rem;
  background-color: #1F2326;
  color: whitesmoke;
  z-index: 2;
}

/* font-family: 'Montserrat', sans-serif; 
font-family: 'Yanone Kaffeesatz', sans-serif; */
/*============= Global ==============*/
:root {
  font-size: 10px;
}

body {
  position: relative;
  background-color: #707070;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.sr-only {
  /* esconde textos e itens de uso semantico para leitores de tela */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
/*# sourceMappingURL=style.css.map */