


  $color-primary: #8468f5;
  $color-primary-gradient-X: linear-gradient(90deg, rgba(132,104,245,1) 0%, rgba(236,116,231,1) 100%);
  $color-primary-gradient-Y: linear-gradient(90deg, rgba(132,104,245,1) 0%, rgba(236,116,231,1) 100%);

  $color-black: #1d1c24;
  $color-white: rgb(245, 245, 245);

  $color-font: #1F2326;
  $color-font-single: #52575c;


  $color-primary-hk:  #0a498e;
  $color-secundary-hk: #27ffe8;