
  $color-black: #1d1c24;
  $color-white: rgb(245, 245, 245);

  $color-font: #1F2326;
  $color-font-single: #52575c;

  
  $color-hk-one: #05B2DC;
  $color-hk-two:  #1a4f6e;
  $color-hk-tree:  #0C263F;
  $background-gradiente-hk: linear-gradient(to bottom, #1a4f6e, #0c263f);
  
  $background-bars: #1F2326;